# 微信(ip位于上海、深圳、香港）
host-suffix,szsupport.weixin.qq.com,Direct
host-suffix,extshort.weixin.qq.com,Direct
host-suffix,szaxshort.weixin.qq.com,Direct
host-suffix,axshort.weixin.qq.com,Direct
host-suffix,mldisas.weixin.qq.com,Direct
host-suffix,szquic.weixin.qq.com,Direct
host-suffix,long.weixin.qq.com,Direct
host-suffix,mlshort.pay.weixin.qq.com,Direct
host-suffix,minorlong.weixin.qq.com,Direct
host-suffix,shshort.pay.weixin.qq.com,Direct
host-suffix,short.pay.weixin.qq.com,Direct
host-suffix,shminorlong.weixin.qq.com,Direct
host-suffix,shextshort.weixin.qq.com,Direct
host-suffix,short.weixin.qq.com,Direct
host-suffix,szlong.weixin.qq.com,Direct
host-suffix,szextshort.weixin.qq.com,Direct
host-suffix,mlminorshort.weixin.qq.com,Direct
host-suffix,mllong.weixin.qq.com,Direct
host-suffix,dns.weixin.qq.com.cn,Direct
host-suffix,szminorlong.weixin.qq.com,Direct
host-suffix,mlminorlong.weixin.qq.com,Direct
host-suffix,szfindershort.weixin.qq.com,Direct
host-suffix,shquic.weixin.qq.com,Direct
host-suffix,quic.weixin.qq.com,Direct
host-suffix,mlfindershort.weixin.qq.com,Direct
host-suffix,minorshort.weixin.qq.com,Direct
host-suffix,shdisas.weixin.qq.com,Direct
host-suffix,mlquic.weixin.qq.com,Direct
host-suffix,szshort.pay.weixin.qq.com,Direct
host-suffix,szshort.weixin.qq.com,Direct
host-suffix,mlextshort.weixin.qq.com,Direct
host-suffix,mlaxshort.weixin.qq.com,Direct
host-suffix,findershort.weixin.qq.com,Direct
host-suffix,szdisas.weixin.qq.com,Direct
host-suffix,mlshort.weixin.qq.com,Direct
host-suffix,szminorshort.weixin.qq.com,Direct
host-suffix,wximg.qq.com,Direct
host-suffix,wxsnsdyvip.wxs.qq.com,Direct
host-suffix,support.weixin.qq.com,Direct
host-suffix,weixinc2c.tc.qq.com,Direct
host-suffix,weixin110.qq.com,Direct
host-suffix,mlsupport.weixin.qq.com,Direct
host-suffix,mp.weixin.qq.com,Direct
host-suffix,open.weixin.qq.com,Direct
host-suffix,wxsnsdy.wxs.qq.com,Direct
host-suffix,wxsnsdythumb.wxs.qq.com,Direct
host-suffix,api.weixin.qq.com,Direct
host-suffix,vweixinf.tc.qq.com,Direct
host-suffix,c6.y.qq.com,Direct
host-suffix,weixin.qq.com,Direct
host-suffix,wxapp.tc.qq.com,Direct
# WeChat 港澳(ip位于深圳、香港）
host-suffix,res.servicewechat.com,Direct
host-suffix,resstatic.servicewechat.com,Direct
host-suffix,hksupport.weixin.qq.com,Direct
host-suffix,hkextshort.weixin.qq.com,Direct
host-suffix,hkshort.weixin.qq.com,Direct
host-suffix,hkaxshort.weixin.qq.com,Direct
host-suffix,hkdisas.weixin.qq.com,Direct
host-suffix,hkshort6.weixin.qq.com,Direct
host-suffix,hkshort.pay.weixin.qq.com,Direct
host-suffix,hklong.weixin.qq.com,Direct
host-suffix,hkminorshort.weixin.qq.com,Direct
host-suffix,hkquic.weixin.qq.com,Direct
host-suffix,hkfindershort.weixin.qq.com,Direct
# WeChat 新加坡(ip位于新加坡）
host-suffix,support.wechat.com,Direct
host-suffix,sgshort.wechat.com,Direct
host-suffix,sgshort.pay.wechat.com,Direct
host-suffix,sglong.wechat.com,Direct
host-suffix,sgminorshort.wechat.com,Direct
host-suffix,sgaxshort.wechat.com,Direct
host-suffix,sgfindershort.wechat.com,Direct
host-suffix,sgsupport.wechat.com,Direct
#ASN 132203 - Tencent Building Kejizhongyi Avenue
ip-cidr, 49.51.0.0/19, direct 
ip-cidr, 49.51.62.0/23, direct 
ip-cidr, 43.128.0.0/15, direct 
ip-cidr, 43.132.0.0/18, direct 
ip-cidr, 43.132.96.0/19, direct 
ip-cidr, 43.132.128.0/17, direct 
ip-cidr, 43.135.0.0/17, direct 
ip-cidr, 43.154.0.0/15, direct 
ip-cidr, 43.159.0.0/18, direct 
ip-cidr, 45.113.68.0/22, direct 
ip-cidr, 101.32.0.0/16, direct 
ip-cidr, 101.33.32.0/19, direct 
ip-cidr, 103.7.28.0/22, direct 
ip-cidr, 103.52.216.0/22, direct 
ip-cidr, 119.28.0.0/16, direct 
ip-cidr, 203.205.128.0/23, direct 
ip-cidr, 203.205.134.0/23, direct 
ip-cidr, 203.205.136.0/21, direct 
ip-cidr, 203.205.144.0/22, direct 
ip-cidr, 203.205.218.0/23, direct 
ip-cidr, 203.205.220.0/22, direct 
ip-cidr, 203.205.248.0/21, direct 
ip-cidr, 43.134.0.0/16, direct 
ip-cidr, 43.152.64.0/20, direct 
ip-cidr, 43.152.80.0/21, direct 
ip-cidr, 43.152.90.0/23, direct 
ip-cidr, 43.152.92.0/22, direct 
ip-cidr, 43.152.96.0/20, direct 
ip-cidr, 43.152.112.0/22, direct 
ip-cidr, 43.156.0.0/15, direct 
ip-cidr, 43.160.0.0/17, direct 
ip-cidr, 43.160.128.0/19, direct 
ip-cidr, 43.160.192.0/18, direct 
ip-cidr, 43.172.15.0/24, direct 
ip-cidr, 101.33.0.0/23, direct 
ip-cidr, 119.29.29.0/24, direct 
ip-cidr, 129.226.0.0/16, direct 
ip-cidr, 150.109.0.0/16, direct 
ip-cidr, 162.62.80.0/21, direct 
ip-cidr, 162.62.160.0/21, direct 
ip-cidr, 162.62.168.0/22, direct 
ip-cidr, 203.205.155.0/24, direct 
ip-cidr, 203.205.159.0/24, direct 
ip-cidr, 211.152.128.0/22, direct 
ip-cidr, 211.152.132.0/23, direct 
ip-cidr, 211.152.154.0/23, direct 
ip-cidr, 43.130.0.0/16, direct 
ip-cidr, 43.135.128.0/18, direct 
ip-cidr, 43.153.0.0/16, direct 
ip-cidr, 43.159.128.0/17, direct 
ip-cidr, 43.162.0.0/16, direct 
ip-cidr, 49.51.32.0/20, direct 
ip-cidr, 49.51.48.0/21, direct 
ip-cidr, 49.51.64.0/19, direct 
ip-cidr, 49.51.96.0/21, direct 
ip-cidr, 49.51.104.0/22, direct 
ip-cidr, 49.51.108.0/23, direct 
ip-cidr, 49.51.192.0/19, direct 
ip-cidr, 49.51.224.0/23, direct 
ip-cidr, 49.51.228.0/22, direct 
ip-cidr, 49.51.232.0/21, direct 
ip-cidr, 49.51.240.0/20, direct 
ip-cidr, 170.106.0.0/16, direct 
ip-cidr, 203.205.188.0/24, direct 
ip-cidr, 203.205.191.0/24, direct 
